.dimmer {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    z-index: 9999;
    transition: all 0.4s ease-out;
    background-color: rgba(0, 0, 0, 0);
    visibility: hidden;
    &.open {
        visibility: visible;

        background-color: rgba(0, 0, 0, 0.8);
        transition: all 0.4s ease-out;
        .popup {
            transform: translateX(0);
            transition: transform 0.4s ease-out;
        }
    }
}

.popup {
    &.privacy {
        background-color: #e7e7e7;
        .popup {
            &-header {
                height: 7.5rem;
                background-color: #e7e7e7;
                .title-area {
                    &-left {
                        font-size: 2rem;
                        font-weight: bold;
                        font-family: "spq", sans-serif;
                    }

                    &-right {
                        img {
                            width: 1.55rem;
                        }
                    }
                }
            }
            &-contents {
                padding-top: 7.5rem;
                .privacy-wrap {
                    p {
                        font-size: 1.3rem;
                        line-height: 1.8rem;
                        + ul {
                            margin-top: 2.5rem;
                        }
                    }

                    ul {
                        li {
                            word-break: keep-all;
                            margin-top: 2.5rem;
                            &:last-child {
                                margin-bottom: 5rem;
                            }
                            &:first-child {
                                margin-top: 0;
                            }
                            font-size: 1.3rem;
                            line-height: 1.8rem;
                            h4 {
                                margin-top: 0.1rem;
                                font-weight: bold;
                                font-size: 1.5rem;
                            }
                            ol {
                                &.float-ol {
                                    li {
                                        display: block;
                                        p {
                                            display: flex;
                                        }
                                        i {
                                            display: flex;
                                            font-style: normal;
                                            &::before {
                                                content: "-";
                                                margin-left: 1.4rem;
                                                margin-right: 0.4rem;
                                            }
                                        }
                                    }
                                }
                                li {
                                    display: flex;
                                    margin: 0;
                                    &:last-child {
                                        margin-bottom: 0;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 10000;
    background-color: #fff;
    overflow: hidden;
    transform: translateX(100%);
    transition: transform 0.4s ease-out;
    &.open {
        transform: translateX(0);
        transition: transform 0.4s ease-out;
    }

    &-contents {
        padding: 0 2.5rem;
        height: 100%;
        overflow-x: hidden;
        overflow-y: auto;
        padding-top: 10.7rem;
        position: relative;
    }
    &-header {
        background-color: #fff;
        padding: 0 2.5rem;
        position: absolute;
        width: 100%;
        height: 10.7rem;
        z-index: 999;
        .title-area {
            height: 100%;
            align-items: center;
            display: flex;
            &-left {
                font-size: 3rem;
                font-weight: bold;
                font-family: "spq", sans-serif;
                flex: 1 1 0;
            }

            &-right {
                margin-left: auto;
                img {
                    width: 2.1rem;
                }
            }
        }
    }
}
